<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>

<body>
    <div id="app">
        <header></header>
        <main>
            <ul class="list-group n" v-if="tasks.length > 0">
                <li class="list-group-item list-group-item-action d-flex flex-row justify-content-between"
                    v-for="(todo, index) in tasks" :key="todo.index">
                    <span :class="{'done': todo.done}" @click="toggleDone(index)">{{todo.text}}</span>
                    <i class="fa-solid fa-trash" style="cursor: pointer;" @click="removeTask(todo.id)"></i>
                </li>
            </ul>
            <div v-else>
                non hai piu task da fare
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>


</html>